html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #fff9f3;
    color: #EB6D20;
    padding: 20px;
    text-align: center;
}
.heading {
    display: flex;
    flex-direction: column;
}
.heading-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.webname {
    flex: 1;
}
.form {
    flex: 2;
}
.user {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.tabs {
    margin-top: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: left; 
    max-width: 800px;
    margin: 0 auto; 
    padding-top: 10px;
}

.form .group {
    display: flex;
    align-items: center;
    width: fit-content;
    height: max-content;
    border: none;
    border-radius: 50px;
    background-color: white;
}

.form select {
    border-radius: 20px;
    border: none;
    background-color: #f0eaea;
    padding: 10px;
    margin-left: 5px;
    font-size: 12px;
    height: 35px;
    width: 120px;
}
.form input[type="text"] {
    flex: 1;
    height: 35px;
    width: 450px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    margin: 10px;
    background-image: url('./search.png'); 
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}

.user input[type="submit"]:first-child{
    padding: 10px;
    border-radius: 50px;
    background-color: #EB6D20;
    border: none;
    color: white;
    font-weight: 300;
}
.user input[type="submit"]:not(first-child){
    padding: 10px;
    border-radius: 50px;
    background-color: #F5F6F8;
    border: none;
    color: #3E3E3E;
    font-weight: 300;
}
@media screen and (max-width: 1200px) {
    .tabs {
        display: none;
    }
    .heading{
        display: none;
    }
    .form {
        display: flex;
    }
}
@media screen and (max-width: 600px) {
    .form select {
        display: none;
    }
    .header2{
        display: block;
    }
    .header3{
        display: none;
    }
}

@media screen and (max-width:1200px){
    .user {
        display: none;
    }
}
.tabs {
    text-align: center;
    margin-top: 20px;
}

.tabs a {
    text-decoration: none;
    color: #3E3E3E;
    padding: 10px 20px;
    font-size: smaller;
}

.tabs a:hover {
    color: #EB6D20;
    font-weight: bold;
    border-bottom: 2px solid #EB6D20;
}
.tab{
    display: none;
    background-color: white;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.tab img {
    max-width: 100%;
    max-height: 100%;
}
.header2 {
    padding: 20px;
    background-color: #FFF9F3;
}

.htop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hleft h4 {
    margin: 0;
    font-size: 24px;
    color: #EB6D20;
}

.hright {
    display: flex;
    gap: 10px;
}

.hright .icon {
    width: 24px;
    height: 24px;
}

.hbottom {
    display: flex;
    align-items: center;
}

.hicon {
    margin-right: 10px;
}
.tabicon{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
}
.hicon .tabicon {
    width: 24px;
    height: 24px;
}

.newform form {
    display: flex;
    align-items: center;
}

.newform input[type="text"] {
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
    width: 350px;
    background-image: url('./search.png'); 
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}
.group2{
    background-color: white;
    border-radius: 50px;
}
.group2 select{
    border: none;
    background-color: #d4cfcf83;
    border-radius: 50px;
}
.header3 input[type="submit"] {
    width: 88px;
    height: 40px;
    border-radius: 50px;
    background-color: #EB6D20;
    border: none;
    color: white;
    font-weight: bolder;

}
@media screen and (max-width:1200px){
    .tabs{
        display: none;
    }
    .header{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .tabs, .heading, .header3 {
        display: none;
    }
    .tab {
        display: flex;
    }
}

@media screen and (min-width:1200px){
    .header3{
        display: none;
    }
}
.header3 {
    padding: 20px;
    background-color: #FFF9F3;
}

.htop1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hleft1 h4 {
    margin: 0;
    font-size: 24px;
    color: #EB6D20;
}

.hright1 {
    display: flex;
    gap: 20px;
}

.hright1 .icon {
    width: 24px;
    height: 24px;
}

.hbottom1 {
    display: flex;
    align-items: center;
}

.hicon1 {
    margin-right: 10px;
}
.tabicon1{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
}
.hicon1 .tabicon1 {
    width: 24px;
    height: 24px;
}

.newform1 form {
    display: flex;
    align-items: center;
}

.newform1 input[type="text"] {
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
    width: 300px;
    background-image: url('./search.png'); 
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}

@media screen and (min-width: 600px) {
    .tab, .header2 {
        display: none;
    }
}

main {
    padding: 20px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.images > div {
    flex: 1;
    min-width: 300px; 
    height: 200px;
    position: relative;
}
.images > div a {
    display: flex;
    height: 100%;
    background-size: cover;
}

.clothing a {
    background-image: url('./clothing\ and.jpg');
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.chair a {
    background-image: url('./chair.jpg');
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.art a {
    background-image: url('./art.png');
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.images2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: space-between;
}

.card{
    flex: 1;
    max-width: 300px; 
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.heart {
    display: flex;
    justify-content: flex-end; 
}
.img{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.img img{
    max-width: 100%;
    height: auto;
}
.colordots {
    display: flex;
    gap: 5px; 
}
.colordots img {
    display: block;
}
.images2 p{
    width: 100%;
    font-weight: 200;
    font-size: small;
    margin-top: 0px;
}

.images2 h6{
    font-weight: 400;
    font-size: medium;
    margin-top: -10px;
}

.images2 .heart{
    margin-left: 240px;
    border-radius: 50px;
}
.card:nth-child(1){
    background-color: #D3FBD9;
}
.card:nth-child(2){
    background-color: #FFE4BD;
}
.card:nth-child(3){
    background-color: #D9ABFD;
}
.card:nth-child(4){
    background-color: #FDF0AB;
}
.greendot {
    width: 16px; 
    height: 16px; 
    background-color: #7CB93E; 
    border-radius: 50px; 
}
.bluedot {
    width: 16px; 
    height: 16px; 
    background-color: #3F65EA; 
    border-radius: 50px; 
}
.purpledot {
    width: 16px; 
    height: 16px; 
    background-color: #A635EC; 
    border-radius: 50px; 
}
.reddot {
    width: 16px; 
    height: 16px; 
    background-color: #F64A69; 
    border-radius: 50px; 
}
.orangedot {
    width: 16px; 
    height: 16px; 
    background-color: #F9A85D; 
    border-radius: 50px; 
}
@media screen and (max-width:600px){
    .images2 {
        flex-direction: column; 
        align-items: center; 
    }
    .card {
        width: 100%; 
        max-width: none; 
    }
}
.images3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card2 {
    max-width: 350px; 
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    background: #f9f9f9; 
    padding: 10px; 
    margin-top: 10px;
    box-sizing: border-box;
}
.card2 img {
    width: 70%;
    max-width: 70%;
    height: auto; 
}
.cardtext {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
.text{
    flex:1;
    text-align: left;
    font-size: larger;
}
@media screen and (max-width:600px){
    .images3 {
        flex-direction: column;
        align-items: center; 
    }
    .card2 {
        width: 100%;
        max-width: 100%;
    }
    .card2 img{
        width: 100%;
        max-width: 100%;
    }
}

.text h5{
    font-weight: bold;
}
.text h6{
    font-weight: lighter;
}
.randomtext {
    text-align: left;
    margin-top: 30px;
}
@media screen and (max-width:600px){
    .randomtext{
        width: 300px;
        text-align: left;
    }
    .randomtext2{
        width:180px;
        text-align: left;
    }
}
.randomtext2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide {
    display: flex;
    justify-content: center;    
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.slide .slideimg {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: smaller;
}

.slide .slideimg img {
    width: 90%;
    height: auto;
    border: 6px solid rgb(243, 243, 243);
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    margin: 0 0 10px 10px;
}
@media screen and (max-width:1200px){
    .slideimg{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.slide2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.slide2 .bag1, .ch2, .bag3, .shoe4,.ring5,.bangle6 {
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.114);
    width: 200px;
    height: 290px;
}
.slide2 .bag1 img, .ch2 img, .bag3 img, .shoe4 img,.ring5 img,.bangle6 img{
    justify-content: center;
    max-width: 100%;
    height: auto;
    position: relative;
    top:
}
.slide2 h5{
    font-weight: lighter;
    font-size: 12px;
}
.slide2 h4{
    font-weight:400;
    font-size: 14px;
    position: relative;
    bottom: 10px;

}
.slide2 #shoe4 h4{
    position: relative;
    top:8px;
}
.left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .slide2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        min-height: 300px; 
        width: 100%;
        box-sizing: border-box;
    }
    .left , .right{
        display: none;
    }
}

.tabs2{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.1s;
}
.tabs2 > div {
    margin-right: 10px; 
    flex: 1; 
    text-align: center; 
}
.tabs2 a{
    font-size: small;
    color:#3E3E3E;
    text-decoration: none;
    border-bottom: 2px solid #d3d0cf;
    padding: 10px 20px;
    font-weight: 300;
    width: 100px;
}
.tabs2 div{
    float: left;
    width: 200px;
    height: auto;
    padding-bottom: 30px;
    margin: 0px 0px auto;
}

.tabs2 a:hover{
    color: #EB6D20;
    border-bottom-color: #EB6D20;
    font-weight: 300;
    transform: translate(0,-10px);
}

.tabs2 > div:hover{
    transform: translate(0,-10px);
}
@media screen and (max-width:600px){
    .tabs2{
        display: flex;
        flex-wrap: wrap;        
        align-items: center;
    }
}
.images4 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    text-align: left;
}
.images4 > img,
.images4 > div {
    width: 312px;
    height: 418px;
    box-sizing: border-box;
}
.images4 > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.images4 .colordots {
    display: flex;
    gap: 5px; 
    align-self: flex-start;
    margin: 10px 0; 
}
.images4 h5, h6{
    display: flex;
    gap: 5px; 
    align-self: flex-start;
    margin: 10px 0; 
}
.images4 p{
    width: 100%;
    font-weight: 200;
    font-size: small;
    text-align: left;
}
.images4 h6{
    font-weight: 400;
    font-size: medium;
    margin-top: 0;
}
.phone{
    background-color: #FFBDBD;
}
.cream{
    background-color: #C0ABFD;
}
.lamp1{
    background-color: #FBF7D3;
}

@media screen and (max-width:600px){
    .images4{
        flex-direction: column;
        align-items: center;
    }
}

.purple {
    background-color: #5959D9;
    color: white;
    text-align:left;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.purple p {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    margin-left: 50px;
    border-radius: 10px;
}
.input2{
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
    width: max-content;
    padding: 5px;
    margin-bottom: 10px;
}

.input2 input[type="submit"]{
    border: none;
    border-radius: 50px;
    background-color: #EB6D20;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    width: 130px;
    height: 30px;
    background-image: url('./rarrow.png'); 
    background-size: 10px 10px; 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}
.input2 input[type="text"]{
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 30px;
}
#form2t{
    text-align: center;
}

#form2t a{
    color: white;
    font-weight: 300;
    text-align:center ;
    font-size: 10px ;
}
.input3{
    width: 200px;
}
.input3 input[type="submit"]{
    border: none;
    border-radius: 50px;
    background-color: #EB6D20;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 30px;
    background-image: url('./rarrow.png'); 
    background-size: 10px 10px; 
    background-repeat: no-repeat;
    background-position: right 10px center; 
}
.input3 input[type="text"]{
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}
@media screen and (max-width:600px){
    .input2{
        display: none;
    }
    #form2t{
        display: none;
    }
}
@media screen and (min-width:600px){
    .input3{
        display: none;
    }
}
.end{
    width: 100%;
    background-color: #F5F6F8;
}
.end p{
    font-weight: 300;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .end p {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        width: 250px; 
        margin: 0 auto; 
        padding: 0; 
    }
}

table {
    width: 80%;
    text-align: left;
    float: right;
}
table a{
    text-decoration: none;
    color: black;
}
table a:hover{
    color: #EB6D20;
}

table th{
    font-weight: 400;
    font-size: 16px;
}
table tr{
    font-weight: 300;
    font-size: 14px;
}
.table{
    margin-left: 200px;
}
.last{
    width: fit-content;
    margin-left: 20px;
}
.last img{
    width:32px;
    height:32px;
    margin-right: 10px;
}
.last h6{
    font-weight: 300;
}
.last h5{
    color: #EB6D20;
}
.end2 {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    color: #3E3E3E; 
    font-size: small; 
}
.end2 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: black;
    margin: 0 20px;
}
.end2 a:nth-child(3){
    color: #EB6D20;
}

.end2 div {
    float: left; 
    margin-left: 20px;
    font-size: small; 
    color: #3E3E3E;
}
@media screen and (max-width:600px){
    .end2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .end2 > div:not(:first-child){
        display: none;
    }
    .footer2{
        display: none;
    }
}
#scroll{
    float: right;
    margin-right:20px; 
}
#scroll h6{
    color: #3E3E3E;
    font-weight: 300;
    font-size: 14px;
}
.footer3 select{
    width: 288px;
    height: 48px;
    border-radius: 50px;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
    display: block;
}
.footer3 #shopp, #aboutt{
    border: none;
}
.footer3 #shopp{
    background-color: #F5F6F8;
}
.footer3 #aboutt{
    background-color: #EB6D20;
    color: white;
}
.footer4 p{
    border: none;
    border-bottom: 2px solid #F5F6F8;
    padding-bottom: 5px;
    margin:0 30px;
    font-weight: lighter;
}
.footer5 select{
    width: 288px;
    height: 48px;
    border-radius: 50px;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
    display: block;
}
.footer5 #selll, #helpp{
    border: none;
}

.footer5 #selll, #helpp{
    background-color: #F5F6F8;
}
.footer6{
    background-color: #F5F6F8;
    width: 288px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    margin: 10px auto;
}
.footer6 a{
    margin: 0 10px;
}
@media screen and (min-width:600px){
    .footer2{
        display: block;
    }
    .footer3,.footer4,.footer5, .footer6{
        display: none;
    }
}